
*
{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(18, 226, 233);
}
input:focus-visible
{
    outline: 0;
}

.main
{
    background-color: rgb(43, 20, 20);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    min-width: 300px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 /50%);
    background-color: rgb(243, 162, 162);
    border-radius: 2px;
    margin-top: 10px;
}
#pass-box
{
    width: 100%;
    display: block;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;

}
.row
{
    width: 100%;
    display: flex;
    margin-top:10px;
    justify-content: space-between;
    font-size: 20px;
}

label
{
    user-select: none;
}

#btn
{
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    background-color: brown;
    color: white;
}